@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap);
@import './vars';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: $main_font;
  color: $text_color;
  background-color: $background_color;
  overflow-x: hidden;
}

a {
  color: $primary_text;
  text-decoration: none;
}
