// Colors
$primary: #6f64f8;
$primary_text: #7e72f2;
$secondary: #ededed;
$background_color: #f9f9f9;
$white: #ffffff;
$text_color: #2c2c2c;

// Fonts
$main_font: Montserrat, Arial, Helvetica, sans-serif;

// Other
$box_shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
$border_radius: 8px;
